apiVersion: 1
#deleteDatasources:
#  - name: InfluxDB2
#    orgId: 1
datasources:
  - name: Flux
    type: "influxdb"
    access: "proxy"
    url: "http://localhost:8086"
    editable: true
    secureJsonData:
      token: {{ influx_token }}
    jsonData:
      version: Flux
      organization: "{{ influxdb_org }}"
      defaultBucket: "{{ influxdb_bucket }}"
      tlsSkipVerify: true
      timeInterval: "1m"
